@import "https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Inter', system-ui, sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #ffffff;
  color: #0E213B;
}

/* Randstad-like typography adjustments */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #0E213B;
  /* Randstad Dark Blue */
  font-weight: 700;
}